.form-container{
    max-width: 500px;
    .titulo{
        height: 50px;
    }
    .selector{
        margin-top: 10px;
    }
    .contenido{
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: 150px;
        .texto{
            min-height: 100px;
        }
        .container_checklist{
            .lista{
                overflow: auto;
                max-height: 300px;
            }   
        }
    }
    
    .texto-cargar{
        margin: 5px 0px;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    }
    // .lista{
        //     min-height: 100px;
        
        // }
    }