<mat-card class="card">
    <img *ngIf="card.img != '' " class="card-image" mat-card-image  [src]=card?.img >
    <div class="card-header">
        <div class="card-title">{{card.titulo | TransformarTextoPipe :"":"cortarTitulo"}}</div>
    </div>
    
    <mat-card-content>
        <app-contenido  (contenido_texto)=aGuardar($event) [tipo]="card.tipo" [texto] = "card.texto" ></app-contenido>
    </mat-card-content>
    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="botones-container">
            <a  matTooltip="Borrar" (click)="borrar()" ><i class="material-icons">delete</i></a>
            <a  matTooltip="Editar" (click)="editar()" ><i class="material-icons">edit</i></a>
            <a  matTooltip="Compartir" (click)="compartir()" ><i class="material-icons">group</i></a>
            <a  matTooltip="Cambiar color" [matMenuTriggerFor]="colores"><i class="material-icons">palette</i></a>
            <a  matTooltip="Agregar imagen"><i class="material-icons">add_photo_alternate</i></a>
            <a  matTooltip="Mas" (click)="masOpciones()"><i class="material-icons">more_vert</i></a>
        </div>
        
        
        <mat-menu #colores="">
            
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div class="contenedor-color" fxFlex="50">
                    <a matTooltip="Sin estilo" fxLayout="row wrap" fxLayoutAlign="center center" (click)="cambiarColor('sin-color')" >
                        <mat-icon class="material-icons sin-color">
                            panorama_fish_eye
                        </mat-icon>
                    </a>
                </div>
                
                <div class="contenedor-color" fxFlex="50">
                    <a fxLayout="row wrap" matTooltip="Azul" fxLayoutAlign="center center" (click)="cambiarColor('primary')" >                    
                        <mat-icon color="primary" class="material-icons amarillo" >
                            fiber_manual_record
                        </mat-icon>
                    </a>
                </div>
                
                <div class="contenedor-color" fxFlex="50">
                    <a fxLayout="row wrap" matTooltip="Rosa" fxLayoutAlign="center center" (click)="cambiarColor('accent')" >                    
                        <mat-icon color="accent" class="material-icons amarillo" >
                            fiber_manual_record
                        </mat-icon>
                    </a>
                </div>

                <div class="contenedor-color" fxFlex="50">
                    <a fxLayout="row wrap" matTooltip="Rojo" fxLayoutAlign="center center" (click)="cambiarColor('warn')" >                    
                        <mat-icon color="warn" class="material-icons amarillo" >
                            fiber_manual_record
                        </mat-icon>
                    </a>
                </div>
            </div>
            
        </mat-menu>
        
    </mat-card-actions>
</mat-card>