@import"../../styles/styles.scss";
.card {
    
    // margin: 5%;
    box-shadow: 1px 3px 8px #00000047;
    width: 200px;
    max-height: 470px;
    border-radius:10px;
    background-color: $color;
    .card-header{
        margin-bottom: 5px;
        .card-title{
            font-size: 20px;
        }
    }
    
    .card-image{
        width: 232px;
        height: 250px;
        object-fit: cover;
        /* width: 100%; */
        // width: 232px;
        // height: auto;
    }
    
    .botones-container{
        .ta-btn{
            max-width: 25px;
            max-height: 25px;
            .circle:before {
                content: ' \25CF';
                font-size: 200px;
              }
        }
     
       
    }
.mat-menu-content{
    .contenedor-color{
        text-align: center;
    }
}
}
.card:hover{
    transform: scale(1.05);
}
