<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" class="container" >
    <mat-list *ngIf="grupos"  fxFlex="100" fxLayout="row wrap">
        <h3 mat-subheader fxFlex="100">Lista de contactos</h3>
        <mat-list-item *ngFor="let l of grupos; let i=index" fxFlex="100">
          <p fxFlex="95">{{l.nombreGrupo}}</p>
          <a fxFlex="5" (click)="compartir(l, i)" >+</a>
        </mat-list-item>
    </mat-list>
    
    
    <!-- TODO: Hacer la funcionalidad de los botones-->
    <div fxLayout="row" fxFlex="95" fxLayoutAlign="end center" >
        <a mat-button [mat-dialog-close]>Cancelar</a>
        <a mat-raised-button color="primary" [mat-dialog-close] (click)="terminarCompartir()">Aceptar</a>
    </div>
</div>