@import "styles/styles.scss";
.contenedor{
    min-height: 800px;
    // background-color: lightgray;
}

.speed-dial-container {
    position: absolute;
    right: 15px;
  }
  
  .speed-dial-container.top {
    top: 15px;
  }
  
  .speed-dial-container.bottom {
    bottom: 15px;
  }

  