<h1 mat-dialog-title>Bienvenido !</h1>

<div mat-dialog-content>

    <mat-form-field>
        <input [(ngModel)]="email" placeholder="email" matInput>
    </mat-form-field>
    <mat-form-field>
        <input type="password" placeholder="Contraseña" [(ngModel)]="pass" matInput>
    </mat-form-field>
    <ng-container *ngIf="isError">
        <p class="errorLabel">{{error_msg}}</p>
    </ng-container>

</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onLogin()">Aceptar</button>
    <button mat-raised-button [mat-dialog-close]>Cancelar</button>
</div>
<hr>
<h1 mat-dialog-title>O logueate con:</h1>
<div mat-dialog-content>
    <button mat-raised-button (click)="onLoginFacebook()" > <span class="fa fa-facebook"></span> Facebook</button>
    <button mat-raised-button (click)="onLoginGoogle()" > <span class="fa fa-google"></span> Google</button>
</div>